/* Section for className selectors */
.searchbox {
    background-color: rgb(243, 196, 196);
    border-radius: 10px;
  
    border: none;
    outline: none;
  
    color: rgb(55, 147, 163);
    font-size: 20px;
    font-weight: 400;
  
    display: block;
    padding: 15px;
    width: 100%;
  
    transition: 0.4s ease-out;
  }
  
  .searchbox:focus {
    box-shadow: 0px 0px 8px 3px #286aac;
  }