/* Universal selector (*) which selects all HTML elements on the page */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Section with element selectors */
body {
  font-family: monospace, sans-serif;
  background-color: salmon;
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  padding: 15px;
  min-width: 250px;
  width: 33.3333%;
}

.results .result img {
  display: block;
  width: 100%;
}

.results .result h3 {
  text-align: center;
  background: honeydew;
  color: burlywood;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  flex: 1 1 100%;
  transition: 0.5 ease-out;
}

.results .result:hover h3 {
  background: rgb(37, 133, 133);
  color: rgb(113, 51, 133);
}

.info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100 vw;
  height: 100 vh;
  background-color: salmon;
  overflow-y: scroll;
}

.info .content {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 25px;
  color: #ffffff;
}

.info .content h2 {
  font-weight: 600;
  font-size: 28px;
}

.info .content h2 span {
  font-weight: 300;
  font-size: 20px;
}

.info .content .rating {
  margin-bottom: 30px;
}

.info .content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.info .content .plot img {
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
}

.info .content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}

.info .content .close {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  background: black;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;

  transition: 0.5 ease-out;
}

.info .content .close:hover {
  background: seagreen;
}