/* Universal selector (*) which selects all HTML elements on the page */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Section with element selectors */
body {
  font-family: monospace, sans-serif;
  background-color: salmon;
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}